.primary-color {
  background: $primary-color;
}

.light-blue {
  background: $light-blue;
}

.secondary-color {
  background: $secondary-color;
}

.dark-blue {
  background: $dark-blue;
  color: $text-light;
}
